:root {
    /* declare a variable with `--` syntax */
    --dGrey: #2a2b3c;
    --lBlue: #25c5dd;
    --tBlack: black;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    padding-bottom: 1%;
    background-color: var(--dGrey);
  }

header h1 {
    display: flex;
    font-size: 320%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lBlue);
    color: var(--dGrey);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.7%;
    padding-left: 6%;
  }


nav {
    display: block;
    font-size: 140%;
  }

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    margin-right: 70px;
}


nav a {
  color: var(--lBlue);
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 16px;
}


nav a::after {
  content: "";
  position: absolute;
  left: 50%; /* Position the underline from the center */
  transform: translateX(-50%); /* Move the underline back by half of its width */
  bottom: -50%; /* Adjust this value to control the thickness of the underline */
  width: 120%;
  height: 18%; /* Adjust this value to control the height of the underline */
  background-color: var(--lBlue); /* Adjust this value to set the color of the underline */
}

.About-Me-Info p {
  margin-bottom: 2%;
}

h2 {
  display:inline-block;
  font-size: 320%;
  text-align: right;
  color: var(--dGrey); 
  padding-top: 0.5%;
  padding-right: 1%;
  border-right-style: solid;
  border-right-color: var(--dGrey);
  border-right-width: 5px;
}

h2 ::after {
  border-style: solid;
  border-color: var(--dGrey);
}

footer h2 {
  padding-left: 5%;
  width: 23%
}

img {
  width: 100%;
  height: auto;
  transition: filter 0.5s ease;/* Add a smooth transition effect */
}

img:hover {
  filter: brightness(1.5); /* Adjust brightness to highlight the image */
}


.hero {
  position: relative;
  min-height: 200px;
  width: 100%;
  margin-bottom: 1%;
  background-image: url("/Assets/Hero.png");
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: absolute;
  right: 6%;
  bottom: 15%;
  font-size: 250%;
  background-color: var(--lBlue);
  color: var(--dGrey);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.7%;
  padding-left: 0.7%;
}

.Div {
  display: flex;
  text-align: right;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%; 
}

.About-Me-Title {
  width: 23%;  
  padding-left: 10%;
}

.About-Me-Info {
  display: block;
  font-size: 180%;
  text-align: left;
  align-items: top;
  justify-content: space-between;
  color: var(--dGrey);
  width: 77%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 2%;
}


.Work {
  width: 23.4%;
  padding-left: 10%;
}

.Work-Div {
  display: block;
  position: relative;
  text-align: left;
  align-items: top;
  justify-content: space-between;
  margin-left: 2%;
  border-width: 5px;
  width: 77.6%;;
  overflow: hidden;
  
}

.About-Me-Info-Secss {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.About-Me-Info-Seccs {
  display: flex;
  position: relative;
  text-align: left;
  border-style: solid;
  border-color: var(--lBlue);
  border-width: 5px;
  margin: 1.5%;
}

.About-Me-Info-Secs {
  display: flex;
  position: relative;
  text-align: left;
  align-items: top;
  justify-content: space-between;
  color: var(--dGrey);
  border-style: solid;
  border-color: var(--lBlue);
  border-width: 5px;
  overflow: hidden;
  margin: 1.5%;
  
}

#title-box {
  position: absolute;
  left: 169px;
  transform: translate(-50%, -50%);
  bottom: 0.1%;
  background-color: var(--lBlue);
  border-style: solid;
  border-color: var(--lBlue);
  border-width: 5px;
  color: var(--tBlack);
  width: 339px;
  height: auto;
}

#title-box h3 {
  font-size: 250%;
  padding: 1%;
}

#title-box p {
  font-size: 150%;
  padding: 1%;
}

#title-box-p {
  width: 100%;
}








.footer-nav {
  text-align: center; /* Align navigation links to the center */
  
}

.footer-nav ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block; /* Display navigation links horizontally */
  margin: 0 10px; /* Add spacing between links */
}

.footer-nav a {
  text-decoration: none; /* Remove underline on links */
  color: #333; /* Set link color */
}

@media screen and (max-width: 901px) {
    header {
      flex-direction: column;
    }
  }

@media screen and (max-width: 768px) {
  .W {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Allow height to adjust based on content */
  }
}

